REACT_APP_MODE=abc
REACT_APP_BOT_VERSION=abc
REACT_APP_API_URL=abc
REACT_APP_FIRST_API_URL=abc
REACT_APP_SECOND_API_URL=abc
REACT_APP_APITON_URL=abc
REACT_APP_WSS_URL=abc
REACT_APP_TON_API_URL=abc
REACT_APP_TRANSACTION_NFT_LIFE_TIME=abc
REACT_APP_FARMING_PERIOD=abc
REACT_APP_API_PRIVAT_KEY=abc
REACT_APP_FIRST_BOT_USERNAME=abc
REACT_APP_SECOND_BOT_USERNAME=abc
REACT_APP_DEFAULT_ENERGY=abc
REACT_APP_WEB_TEST_URL=abc
REACT_APP_TELEGRAM_TEST_URL=abc
REACT_APP_WEB_PROD_URL=abc
REACT_APP_TELEGRAM_PROD_URL=abc
REACT_APP_ROUTER_BASE_URL=abc
REACT_APP_ANALYTICS_RECORD_TOKEN=abc
REACT_APP_ANALYTICS_APP_NAME=abc
REACT_APP_WEB_ANNOUNCEMENT_PAGE=abc