@font-face {
  font-style: normal;
  font-weight: bold;
  src:
    local('SF Pro Display Bold'),
    local('SF-Pro-Display-Bold'),
    url('../../public/fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-family: 'SF Pro Display';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src:
    local('SF Pro Display Light'),
    local('SF-Pro-Display-Light'),
    url('../../public/fonts/SF-Pro-Display-Light.otf') format('opentype');
  font-family: 'SF Pro Display';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src:
    local('SF Pro Display Medium'),
    local('SF-Pro-Display-Medium'),
    url('../../public/fonts/SF-Pro-Display-Medium.otf') format('opentype');
  font-family: 'SF Pro Display';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src:
    local('SF Pro Display Regular'),
    local('SF-Pro-Display-Regular'),
    url('../../public/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-family: 'SF Pro Display';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src:
    local('SF Pro Display Semibold'),
    local('SF-Pro-Display-Semibold'),
    url('../../public/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
  font-family: 'SF Pro Display';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 900;
  src:
    local('SF Pro Display Black'),
    local('SF-Pro-Display-Black'),
    url('../../public/fonts/SF-Pro-Display-Black.otf') format('opentype');
  font-family: 'SF Pro Display';
  font-display: swap;
}
