APP_NAME=${APP_NAME}
APP_ENV=${APP_ENV}
APP_KEY=${APP_KEY}
APP_DEBUG=${APP_DEBUG}
APP_URL=${APP_URL}
APP_FRONT_URL=${APP_FRONT_URL}
APP_NFT_URL=${APP_NFT_URL}
CORS_URL=${CORS_URL}

LOG_CHANNEL=${LOG_CHANNEL}
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=${DB_HOST}
DB_WRITE_HOST=${DB_WRITE_HOST}
DB_READ_HOST_LIST=${DB_READ_HOST_LIST}
DB_PORT=${DB_PORT}
DB_DATABASE=${DB_DATABASE}
DB_USERNAME=${DB_USERNAME}
DB_PASSWORD=${DB_PASSWORD}

DB_LOG_CONNECTION=mysql
DB_LOG_READ_HOST_LIST=${DB_LOG_READ_HOST_LIST}
DB_LOG_WRITE_HOST=${DB_LOG_WRITE_HOST}
DB_LOG_PORT=${DB_LOG_PORT}
DB_LOG_DATABASE=${DB_LOG_DATABASE}
DB_LOG_USERNAME=${DB_LOG_USERNAME}
DB_LOG_PASSWORD=${DB_LOG_PASSWORD}

BROADCAST_DRIVER=log
CACHE_DRIVER=memcached
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=memcached
SESSION_LIFETIME=120

MEMCACHED_HOST=${MEMCACHED_HOST}

TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
TELEGRAM_NAME=${TELEGRAM_NAME}
TELEGRAM_ADMIN_BOT_TOKEN=${TELEGRAM_ADMIN_BOT_TOKEN}
TELEGRAM_ADMIN_BOT_NANE=MMproBump_admin_bot

BOT_FARMING_LENGTH=${BOT_FARMING_LENGTH}
JWT_SECRET=${JWT_SECRET}

REQ_SIGN_KEY=${REQ_SIGN_KEY}
REQ_SIGN_METHOD=body

AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}