OWNER_CONTRACT_MNEMONIC=$OWNER_CONTRACT_MNEMONIC
COLLECTION_ADDRESS_NFT1=EQC5XhGLN5wkEQcifzsiyOpPvDfAqLBzQwsfEEZVRS7LAxGJ
COLLECTION_ADDRESS_NFT2=$COLLECTION_ADDRESS_NFT2
COLLECTION_ADDRESS_NFT3=$COLLECTION_ADDRESS_NFT3
COLLECTION_ADDRESS_NFT4=$COLLECTION_ADDRESS_NFT4
COLLECTION_ADDRESS_NFT5=$COLLECTION_ADDRESS_NFT5
API_URL=$API_URL
JWT_SECRET=$JWT_SECRET
NETWORK=$NETWORK
COLLECTION_MAX_SUPPLY=1000
COLLECTION_MIN_BUY_NFT_AMOUNT=0.3
APP_NFT_URL=$API_URL
APP_WALLET=UQChXxSvZzoGQ_5w-ncaT3Zm6x6P4LDOTa6w1WSS9AWP1BMy
APP_NFT_PRICE=100000000
APP_IS_TESTNET=0
KRAFT_SEED_KEY=$KRAFT_SEED_KEY
MARKETPLACE_ADDRESS="EQAJ-QU4xFrQRr1JCtQS7zAgCOvVDl5tkBvgwbAGOGiRd9MO"